@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --font-sans: var(--font-raleway-sans);
  --font-mono: var(--font-raleway-mono);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Raleway, sans-serif;
}

html {
    scroll-behavior: smooth;
}
